@import url('https://v1.fontapi.ir/css/Vazir');


body {
  margin: 0;
  font-family: Vazir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-image: url(../public/mn29qa.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.m-icon {
  margin: 10px !important;
}
.center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.p-none {
  margin-top: -4px !important;
}
.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
